.personal-input-section,
.practical-input-section,
.educational-input-section {
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: wheat;
    border-radius: 0.4em;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
}
.input-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
}
