@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-header {
    background-color: wheat;
    @include flexCenter();
}

.input-form {
    background-color: #61afef;

    @include flexCenter();
}
.display-form {
    background-color: white;
    @include flexCenter();
}
