#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body {
  margin: 0;
}
page-header {
  flex: 1;
}
.main-wrapper {
  flex: 4;
  display: flex;
  .input-form {
    flex: 1;
  }
  .display-form {
    flex: 1;
  }
}
